.customer-list-header {
    display: flex;
    flex-direction: row;
}

.customer-list {
    display: flex;
    flex-direction: column;
}

.customer-item {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 8px;
}

.customer-item:hover {
    background-color: rgba(0,0,0,0.1);
}

.selected {
    background-color: rgba(0,0,255,0.2);
}

.customer-field {
    flex: 1;
}